{% extends "encyclopedia/layout.html" %}


{% block title %} Create Page {% endblock %}


{% block body %}
    <h1>Create a new Page</h1>

    <form action="{% url 'wiki:create_page' %}" method="POST">
        {% csrf_token %}
        
        <h3 style="margin-top: 20px">Title:</h3>
        {{ create_form.pagename }}

        <h3 style="margin-top: 20px">Content of Page</h3>
        <p style = "margin-bottom: 0px;">Please use markdwon language</p>
        {{ create_form.content }}

        <input type="submit" class="row" style="margin-top: 50px;margin-left: 17%;" value="Create Page">
    </form>
{% endblock %}


